{
    "name": "{{name}}",
    "version": "1.0.0",
    "license": "MIT",
    "private": true,
    "scripts": {
        "serve": "p5 serve -d ./src -p 3000"
    },
    "devDependencies": {
        "{{packageName}}": "{{packageVersion}}"
    }
}
